 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Experience</h2>
      <i class="devicons devicons-android"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Experienced React developer for front ends / dashboards</p>
      <p>Experienced React Native developer for Android / iOS Platforms </p>
     <p>Experienced Java developer for Server Application </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <p>Able to write High Quality Codes with ES7 standards</p>
       <p>Written cordova plugins , react native npm packages , open source libraries</p>
       <p>Creator of more than 25 + mobile applications</p>
      <p>Creator of React based enterprice application dashboards</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicons devicons-appstore"></i>
      <p>Android Studio is my native tool. Started my journey with Eclipse Luna and now using Android Studio 3.1, Xcode 9.3 and more</p>
     <p>Experience with react native based app development</p>
      <p>Now full time front end react developer</p>
   </div>
</div>
