 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicons devicons-android"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Experienced UI designer capable for Android with XML Make your wireframes to visual concepts to a live UI in an app with sleeking Animations</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <p>Able to write High Quality Codes satisfying the standards for Java and Analyses with popular tools such as Sonar Lint etc...</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicons devicons-appstore"></i>
      <p>Android Studio is my native tool. Started my journey with Eclipse Luna and now using Android Studio 3.1, Xcode 9.3 and more</p>
    </div>
</div>
